---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.site-icon {
  float: left;
  vertical-align: top;
  height: 4em;
  width: 4em;
  margin-right: 10px;
}

h1, h2 {
    color: rgb(8, 114, 197);
}

pre, code { background-color: #f6f6f6; border: none; }
.highlighter-rouge .highlight { background: #f6f6f6; }

/* Fix display of inline code - default style sheet adds too much left/right
   space for us to use inline code as heavily as we want to.
 */
code.highlighter-rouge {
  padding: 1px 1px;
}

details summary {
  cursor: pointer;
}

details summary > * {
  display: inline;
}

/* Fix display of definition lists - broken by default style sheet */

dt, dd {
  margin-left: $spacing-unit;
}

dt {
  font-weight: bold;
}

